<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Legends Story Map</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">Local Legends</div>
            <ul class="nav-links">
                <li><a href="{% url 'landingpage' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Explore Stories</a></li>
                <li><a href="{% url 'submit_story' %}">Submit a Story</a></li>
                <li><button class="login-btn" onclick="firebaseLogin()">Login</button></li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2024 Local Legends Story Map. Discover the world’s myths & legends.</p>
    </footer>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="{% static 'js/firebaseConfig.js' %}"></script>
    <script src="{% static 'js/filter.js' %}"></script>
</body>
</html>
